.home {
    h1 {
        width: auto;
        height: auto;
        color: $color-4;
        position: relative;
        top: 2rem;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 800;
        font-size: 75px;
    }
}