.todo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15rem;
    width: 100%;
    margin: 0 auto;
}

.todo-item {
    display: flex;
    background-color: $color-5;
    padding: 0.9rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: $color-4;
    font-size: 1.2rem;
    box-shadow: 3px 2px 6px $color-4;
    font-family: $font-1;
    font-smooth: antialiased;
    width: auto;
}

li, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.check, .edit, .delete {
    background-color: $color-5;
    padding: 0.8rem;
    border-radius: 1rem;
    color: $color-6;
    font-size: 1.2rem;
    align-self: center;
    font-family: $font-1;
    font-smooth: antialiased;
    box-shadow: 3px 2px 6px $color-6;
    cursor: pointer;
    transition: all 0.5s;
    width: auto;
    margin-right: 0.5rem;

    &:active {
        transform: translateY(0.1rem);
    }
}

.check:hover {
    color: $color-2;
    box-shadow: 3px 2px 6px $color-2;
    transition: all 0.5s;
}

.edit:hover {
    color: $color-4;
    box-shadow: 3px 2px 6px $color-4;
    transition: all 0.5s;
}

.delete:hover {
    color: $color-1;
    box-shadow: 3px 2px 6px $color-1;
    transition: all 0.5s;
}